body {
  display: flex;
  font-family: sans-serif;
  justify-content: center;
}

ul {
  list-style-type: none;
  width: 650px;
  height: 650px;
}

li {
  border: 1px solid #ababab;
  float: left;
  width: 10px;
  height: 10px;
  margin-right: 1px;
}

li.active {
  background: #e018c1;
}
