body {
  display: flex;
  font-family: sans-serif;
  justify-content: center;
}

ul {
  list-style-type: none;
  height: 650px;
  margin: 0 20px;
  width: 650px;
}

li {
  border: 1px solid #ababab;
  float: left;
  width: 10px;
  height: 10px;
  margin-right: 1px;
}

li.active {
  /* background: #e018c1; */
  background: #000000;
}

li.turbo {
  background: #e01818;
}

li.apple {
  background: green;
}

li.boost {
  background: red;
}
